<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kh.matzip.member.model.dao.MemberMapper">

	<select id="existByUserId" parameterType="String" resultType="int">
    	SELECT 
    		COUNT(*) 
    	FROM 
    		TB_USER
    	WHERE 
    		USER_ID = #{userId}
	</select>

	<select id="existByUserNickName" parameterType="String" resultType="int">
   		SELECT 
   			COUNT(*) 
    	FROM 
    		TB_USER
    	WHERE 
    		USER_NICKNAME = #{userNickName}
	</select>


    <insert id="signUp" parameterType="com.kh.matzip.member.model.dto.MemberDTO">
    	INSERT INTO 
        	TB_USER (
				USER_NO,
            	USER_ID,
            	USER_PW,
            	USER_NAME,
            	USER_NICKNAME,
            	USER_PHONE
        	) VALUES (
				SEQ_USER_NO.NEXTVAL,
            	#{userId},
            	#{userPw},
            	#{userName},
            	#{userNickName},
            	#{userPhone}
        	)
	</insert>
	
	<select id="findByUserId" parameterType="String" resultType="com.kh.matzip.member.model.dto.MemberDTO">
		SELECT
			USER_NO,
			USER_ID,
			USER_PW,
			USER_NAME,
			USER_NICKNAME,
			USER_ROLE,
			IS_DELETED,
			ENROLL_DATE
		FROM
			TB_USER
		WHERE
			USER_ID = #{userId}
			
	</select>

    

</mapper>
