<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.matzip.reservation.model.dao.ReservationMapper">

    <!-- 휴무일 리스트 조회 -->
    <select id="selectDayOffByStoreNo" resultType="string">
        SELECT OFF_DAY
        FROM TB_OFF_DAY
        WHERE STORE_NO = #{storeNo}
    </select>

    <!-- 임시휴무 시작/종료일 조회 -->
    <select id="selectShutdownDayByStoreNo" resultType="map">
        SELECT START_DATE, END_DATE
        FROM TB_SHUT_DOWN_DAY
        WHERE STORE_NO = #{storeNo}
    </select>

    <!-- 운영시간 조회 -->
    <select id="selectOpenCloseTimeByStoreNo" resultType="map">
        SELECT OPEN_TIME, CLOSE_TIME, STORE_NAME
        FROM TB_STORE
        WHERE STORE_NO = #{storeNo}
    </select>

   <insert id="createReservation" parameterType="com.kh.matzip.reservation.model.dto.ReservationDTO">
    INSERT INTO TB_RESERVATION (
        RESERVATION_NO,
        USER_NO,
        STORE_NO,
        RESERVATION_DATE,
        RESERVATION_TIME,
        PERSON_COUNT
    ) VALUES (
        SEQ_RESERVATION_NO.NEXTVAL,
        #{userNo},
        #{storeNo},
        #{reservationDate},
        #{reservationTime},
        #{personCount}
    )
    </insert>

    <select id="getReservationUserNo" resultType="com.kh.matzip.reservation.model.dto.ReservationDTO">
        SELECT
            R.RESERVATION_NO,
            R.STORE_NO,
            S.STORE_NAME,
            R.RESERVATION_DATE,
            R.RESERVATION_TIME,
            R.PERSON_COUNT
        FROM TB_RESERVATION R
        JOIN TB_STORE S ON R.STORE_NO = S.STORE_NO
        WHERE R.USER_NO = #{userNo}
        ORDER BY R.RESERVATION_DATE DESC, R.RESERVATION_TIME DESC
    </select>

    <select id="findByReservationNo" parameterType="long" resultType="ReservationDTO">
    SELECT
        R.RESERVATION_NO,
        R.STORE_NO,
        S.STORE_NAME,
        S.STORE_ADDRESS_1 AS storeAddress1,
        S.STORE_ADDRESS_2 AS storeAddress2,
        S.STORE_PHONE AS storePhone,
        (
        SELECT IMAGE
        FROM TB_STORE_IMAGE
        WHERE STORE_NO = R.STORE_NO
        AND ROWNUM = 1
        ) AS storeImage,
        R.RESERVATION_DATE,
        R.RESERVATION_TIME,
        R.PERSON_COUNT,
        R.USER_NO
    FROM TB_RESERVATION R
    JOIN TB_STORE S ON R.STORE_NO = S.STORE_NO
    WHERE R.RESERVATION_NO = #{reservationNo}
    </select>


    <!-- 1. 예약 상태 변경 -->
    <update id="cancelReservationStatus" parameterType="long">
    UPDATE TB_RESERVATION
    SET STATUS = 'N'
    WHERE RESERVATION_NO = #{reservationNo}
    </update>

    <!-- 2. 취소 사유 등록 -->
    <insert id="insertCancelInfo" parameterType="ReservationCancelDTO">
    INSERT INTO TB_RESERVATION_CANCEL (
        RESERVATION_NO,
        CANCEL_REASON,
        CANCEL_DATE
    ) VALUES (
        #{reservationNo},
        #{cancelReason},
        SYSDATE
    )
    </insert>

</mapper>